@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VALKIMIA</h1>
    <p class="lead">UNA EMPRESA DE TECNOLOGÍA PARA DAR SOLUCIONES Y POTENCIAR DIVERSOS ASPECTOS DE TU NEGOCIO.</p>
    <p><a href="https://valkimia.com" class="btn btn-primary btn-lg">Saber mas de la empresa &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Challenge de VALKIMIA</h2>
        <p>
        <p>
            Propuesto por Jeremías y Manuel, consiste en lo siguiente:
        </p>
        <p>
            1- Armar la base de datos.
        </p>
        <p>
            2- Realizar una Aplicación con .Net (C#, Web).
        </p>
        <p>
            3- Realizar un Logeo de Usuario Validando el Email y Password de los clientes con la base de datos.
        </p>
        <p>
            4- Realizar un ABM de Clientes.
        </p>
        <p>
            5- Realizar un formulario para registrar una nueva factura solicitando los datos necesarios mediante el uso de API.


        </p>
    </div>
    <div class="col-md-4">
        <h2>Tecnologias usadas:</h2>
        <p>
            .NET framework 4.7.
        </p>
        <p>
            Patron de arquitectura MVC.
        </p>
        <p>
            Base de datos SQL Server.
        </p>
        <p>
            Lenguaje de programacion: C#.
        </p>
        </p>

    </div>
</div>